body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#bg {
    background: url("./images/bg.png");
    position: relative;
    width: 800px;
    height: 600px;
}

.hero {
    background-image: url("./images/hero.png");
    position: absolute;
    width: 35px;
    height: 54px;
}

.front {
    background-position: 140px;
}

.back {
    background-position: 105px;
}

.right {
    background-position: 35px;
}

.left {
    background-position: 70px;
}

.enemy {
    background-image: url("./images/enemy.png");
    position: absolute;
    width: 45px;
    height: 54px;
}

.die {
    background-position: 45px;
}