body {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#bg {
    background: url("./images/bg.png");
    position: relative;
    width: 800px;
    height: 600px;
}

.hero {
    background: url("./images/hero.png") 140px;
    position: absolute;
    width: 35px;
    height: 54px;
    bottom: 0;
}

.enemy {
    background-image: url("./images/enemy.png");
    position: absolute;
    width: 45px;
    height: 54px;
}

.die {
    background-position: 45px;
}